body {
  width: 1200px;
  margin: auto;
  border-left: solid black 1px;
  border-right: solid black 1px;
}

.CaseJeux {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  border: solid black 2px;
  height: 100px;
  width: 60%;
  margin-top: 50px;
}

#Jeux1{
  background-image: url("../Image/BallJumpingImage.JPG");
  background-size: cover;
  background-position: center 42%;
}

#Jeux2{
  background-image: url("../Image/RestoImage.jpg");
  background-size: cover;
  background-position: center 50%;
}

#Jeux3{
  background-image: url("../Image/PotagerImage.jpg");
  background-size: cover;
}

#Jeux4{
  background-image: url("../Image/PacmanImage.png");
  background-size: cover;
  background-position: center 50%;
}

.CaseJeux:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 2s, 1s;
}

.Play {
  justify-content: space-between;
  align-items: center;
}

.Play Img {
  height: 40px;
  width: 150px;
}

.NomJeux {
  background-color: white;
  color: black;
  padding: 20px;
  border: solid black 4px;
  border-radius: 10px;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 110px;
  background-image: url("../Image/header.avif");
}

#Home {
  background-color: white;
  border: solid lightgray 4px;
  border-radius: 100%;
  padding: 10px;
  height: 50px;
  width: 50px;
}

#Home img {
  height: 50px;
  width: 50px;
}

#Connection {
  text-decoration: none;
  color: white;
}

h1 {
  color: white;
  font-size: 4em;
  margin: 0px;
  text-decoration: underline;
  font-style: italic;
}

footer {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  height: 150px;
  max-height: 150px;
  background-color: black;
  /*background-image: url("../Image/header.avif");*/
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

footer img {
  height: 100px;
  width: auto;
  border:solid white 3px;
  border-radius: 20px;
}

li {
  list-style: none;
  color: white;
}

ul {
  padding: 0px;
}


#inscript-form{
  width: 35%;
  margin: auto;
  margin-top: 70px;
  padding: 15px;
  background-color: rgb(52, 52, 52);
  border: solid #ce931d 3px;
  border-radius: 8px;
}

.content-form-obj{
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font: 15px arial, sans-serif;
}

.div-avatar-form{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; 
}

.elem-from-div-avatar{
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  align-items: center;
}

.elem-from-div-avatar img{
  margin: 10px;
  border: solid #ce931d 2px;
  border-radius: 50%;
}

.content-form-obj input{
  padding: 5px;
  color: #FFB100;
  background-color: #434242;
  border: none;
  border-bottom: #ce931d 2px solid;
}

.content-form-obj p{
  padding-top: 7px;
  font-size:smaller;
  margin: 0;
  color: #DC3535;
  font: arial, sans-serif;
}

#submit-inscript-form{

  background: #FFB100;
  color: white;
  border: solid #ce931d 2px;
  border-radius: 15px;
  height: 35px;
  width: 140px;
  font: bold 15px arial, sans-serif;
  text-shadow:none;
}

#div-submit-inscript-form{
  padding: 10px;
  display: flex;
  justify-content: center;
}

#submit-inscript-form:hover{
  background: white;
  color: #FFB100;
}

#title-form-inscript{
  color: white;
  font: bold 15px arial, sans-serif;
}

#DejaInscrit{
  color: white;
   text-decoration: none;
}

#DejaInscrit:hover{
  text-decoration: underline;
}

#DivConnect{
  border: black 2px solid;
  border-radius: 20px;
  padding: 10px;
  width:300px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-direction:column;
  background-color: rgb(52, 52, 52);
  height: 70%;
  border: solid 3px #f39f20;
  /*box-shadow: 12px 12px 2px 1px lightyellow;*/
}

#bouton{
  margin-left: 20px;
  background-color: #f39f20;
  /*background: linear-gradient(to right, #FFB100, lightyellow);*/
  color: white;
  width: 85%;
  border-radius: 15px;
  margin-left: 5px;
  font-size: larger;
  border: solid #FFB100 2px;
}

#inscription
{
    color:white;
    text-decoration: none;
    margin-left: 22px;
    margin-top: 8px;
    font-size: larger;
}

#inscription:hover{
  text-decoration: underline;
}

input {
  width: 80%;
  border: solid black 2px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  font-size: larger;
  border-radius: 7px;
}

#titre{
  text-align: center;
  background-color: white;
  /*background: linear-gradient(to right, #FFB100, lightyellow);*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form p {
  color: white;
  text-decoration: underline;
  font-size: 1.2em;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}

table {
  width: 65%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 30px;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 2px solid black;
  text-align: center;
  color: #434242;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(2){
  background-color: gold;
}

tr:nth-child(3){
  background-color: silver;
}

tr:nth-child(4){
  background-color: #cd7f32;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}