
*{text-align: center;}

body{
    background-color: rgb(0, 0, 0);
text-align: center;
}

h1{
    color: rgb(0, 0, 0);
    text-align: center;
}

canvas{
    border: rgb(136, 255, 0) 4px solid;
}

img{
    width: 280px;
    height: 120px;
}

header{
    background-color: black;
    margin: auto;
    margin-bottom: 20px;
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center
  }
  
 .aaa{
    color: white;
  }
  
  #home{
    color: black;
    font-style: none;
    width: 50px;
    height: 30px;
    padding: 10px;
    text-align: right;
    background-color: white;
    border-radius: 10px;
    text-align: center;
  }